body {
    font-family: Arial, Helvetica, sans-serif;
}

.grid-item {
    border: 2px solid rgba(0, 0, 0, 0.8);
    height:50px;
    width: 50px;
}

.button {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #333;
    color: white
}

#add-column-btn {
    text-decoration: none;
}

.grid-container {
  display: grid;
    display: flex;

}
